body {
  background: #dff0e8;
  line-height: 1x;
}

.jumbotron {
  background: #96ceb4;
  color: white;
}

.navbar {
  background: #ff6f69;
}

.btn {
  background: #ff6f69;
  color: white;
  border-color: #ff6f69;
}

.panel-info {
  border-color: #96ccce;
}

.panel-info>.panel-heading {
  color: white;
  background-color: #96ccce;
  border-color: #96ccce;
}

p.lead {
  color: #666666;
}

label {
  color: #666666;
}

.img-thumbnail {
  width: 200px;
}

.questionbtn {
  float: right;
  margin: 2px;
}
