<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li class="navtext">{{#link-to 'questions'}}Puppy Love{{/link-to}}</li>
      <!-- <li>{{#link-to 'recent-comments'}}Recent Comments{{/link-to}}</li> -->
    </ul>
  </nav>

  {{outlet}}

</div>
