<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name" class="form-control"}}
    <label for="text">Contribute to this thread</label>
    {{textarea value=text id="text" class="form-control" rows="15"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Submit</button>
</form>
