<h1>Puppy Parent</h1>

  <ul>
    {{#each}}
    <li>
    {{question}}
      <!-- <li>{{#link-to 'question' this.id}}{{question}}{{/link-to}} -->
      <font size="1"><em>{{author}}</em></font>
      </li>
    {{/each}}
  </ul>

  <!-- <p><a href='#' {{action 'sortByTitle'}}>Sort by title</a></p> -->

<p>
  {{#link-to 'new-question' classNames="btn btn-primary"}}Post New Thread{{/link-to}}
</p>
